* {
    font-family: monospace;
    font-size: 10px;
}

body {
    margin: 0px;
}

table {
    border-collapse: collapse;
}

.mainTable:nth-of-type(2) {
    border-style: dotted;
}


td {
    vertical-align: top;
    padding: 0px;
}

.mainTable>tbody>tr>td {
    border: black solid 1px;
}

table,
.fw {
    width: 100%;
}

.hw {
    width: 50%;
    position: relative;
}

.qw {
    width: 75%;
}

.hour {
    width: 1%;
}

.sharp {
    font-size: 5px;
    font-family: sans-serif;
    float: right;
    position: absolute;
    right: 0;
    width: 30%;
    text-align: left;
    writing-mode: vertical-rl;
}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    padding: 1px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

@media all {
}

@media print {
    .not_print {
        display: none;
    }
    .page-break {
        display: block;
        page-break-before: always;
    }
}
/* Sunday parent container -> relative so sunday can be abs positioned
 * at the bottom
 */
    #weeks > table > tbody > tr:nth-child(3) > td:nth-child(2){
        position: relative;
    }

    .due, .todo{
        text-align: left;
    }

    #psuedo-body {
        background: linear-gradient(90deg, white 10px, transparent 1%) center,
        linear-gradient(white 10px, transparent 1%) center,
        grey;
        background-size: 11px 11px;
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }

    .mainTable{
        background-color: white;
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        color-adjust: exact !important;                 /*Firefox*/
    }
